.bg-stripes-cyan {
    background-color: #22d3ee1a;
    background-image: linear-gradient(135deg, #06b6d480 10%, #0000 0, #0000 50%, #06b6d480 0, #06b6d480 60%, #0000 0, #0000);
    background-size: 7.07px 7.07px;
}